<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup point</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://maps3.stadt-salzburg.at/geodaten/wmts/bmaphidpi/normal/google3857/13/2855/4393.jpg"/>
  <ion-card>
    <ion-card-content>
      <p>Adress: Fake street, 111</p>
      <p>Complement: Apto 222</p>
      <p>Neighborhood: neighborhood</p>
      <p>Zip Code: 5220</p>
      <p>City Name: Elsbethen</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">Create Pickup Call</ion-button>
</ion-content>
